{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>UofC Residence</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <link href="{% static 'assets/img/UofCCoat.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
</head>

<body>

  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>
  
  <header id="header">
    <div class="d-flex flex-column">
      <div class="profile">
        <img src="https://www.ucalgary.ca/sites/default/files/styles/ucws_image_desktop/public/2020-07/UC-1.jpg?itok=teKbFPDq" alt=""
        height="100" width="100">
        <h1 class="text-light" style="color:  rgb(2, 158, 255);"><Center><a href="">UofC Residence</a></Center></h1>
        <div class="social-links mt-3 text-center">
          <a href="https://twitter.com/UCalgary" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="https://www.facebook.com/universityofcalgary/" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="https://www.instagram.com/ucalgary/?hl=en" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="https://www.ucalgary.ca/" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <style>.button {
            background-color: rgb(2, 158, 255);
            color: white;
            border: none;
            height: 36px;
            width: 100px;
            border-radius: 8px;
            border-radius: 18px;
            font-weight: bold;
            font-size: 15px;
            cursor: pointer;
            position:relative; 
            left:125px; 
            top:8px;
            margin-left :0px;
          }
          img {
            max-width: 100%;
            height: auto;
            top:-18px;
          }
        </style>
        <a href="#hero" class="nav-link scrollto active">
          <i class="bx bx-home"  style="width:40px;"></i>
          <p>Home</p>
        </a>
        <a href="login" class="nav-link scrollto"><i class="bx bx-user"></i>
          <p>Login</p>
        </a>
        <a href="register" class="nav-link scrollto"><i class="bx bx-book-content"></i>
          <p>Register</p>
        </a>
        <a href="#about" class="nav-link scrollto"><i class="bx bx-file-blank"></i>
          <p>About</p>
        </a>
        <a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i>
          <p>Contact</p>
        </a>        
        </ul>
      </nav>
    </div>
  </header>

  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1><Center>Univerity of Calgary</Center></h1>
      <hr style="height:10px" color= #bebebe>
    </div>
  </section>

  <main id="main">
    <section id="about" class="about">
      <div class="container">
        <div class="section-title">
          <h2 style="color: rgb(2, 158, 255)"><Center>About</Center></h2>
          <p>A public research university in Calgary, Alberta.</p>
          <p style = "font-size: large">
              <strong>First Year</strong> 
          </p>
          <p>
              All first year students under the age of 21 live in single or double occupancy rooms in a first year dormitory-style residence and are guaranteed residence for the first two years of their study at the University of Calgary.
          </p>
          <a style = "color: #173b6c" href = "https://www.ucalgary.ca/ancillary/residence/live-us/places-live/first-year"><strong><u>Learn More</u></strong></a>

          <p style = "font-size: large; margin-top:30px">
            <strong>Second Year</strong> 
          </p>
          <p>
            All second year students, including transfer and international students, live in in furnished two or three bedroom suite-style apartments with a kitchenette, bathroom, and a private bedroom.
          </p>
          <a style = "color: #173b6c" href = "https://www.ucalgary.ca/ancillary/residence/live-us/places-live/first-year"><strong><u>Learn More</u></strong></a>
          <p style = "font-size: large; margin-top:30px">
            <strong>Upper Year</strong> 
          </p>
          <p>
            Undergraduate students in their third year or higher of post-secondary and under the age of 27 have the option of living in furnished studio, one bedroom, two bedroom, and four bedroom units with full kitchens.
          </p>
          <a style = "color: #173b6c" href = "https://www.ucalgary.ca/ancillary/residence/live-with-us/places-to-live/upper-year"><strong><u>Learn More</u></strong></a>
          <p style = "font-size: large; margin-top:30px">
            <strong>Graduate</strong> 
          </p>
          <p>
            Graduate students, students that have completed an undergraduate degree or mature students (27+ years old) have the option of living in one bedroom, studio, or two bedroom apartments in Crowsnest Hall.
          </p>
          <a style = "color: #173b6c" href = "https://www.ucalgary.ca/ancillary/residence/live-with-us/places-to-live/graduate"><strong><u>Learn More</u></strong></a>
          <p style = "font-size: large; margin-top:30px">
            <strong>Family Housing</strong> 
          </p>
          <p>
            Residents must reside with a spouse or common-law partner (with or without children), or as a single parent living with children. Applicants must be affiliated with the university.
          </p>
          <a style = "color: #173b6c" href = "https://www.ucalgary.ca/ancillary/residence/live-us/places-live/family-housing"><strong><u>Learn More</u></strong></a>
          </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="{% static 'assets/img/uofc-logo.jpg' %}" class="img-fluid" alt="">

        </div>

      </div>
    </section><!-- End About Section -->
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">
        <hr style="height:10px" color= #bebebe>
        <div class="section-title">
          <h2 style="color: rgb(2, 158, 255)"><Center>Contact</Center></h2>
          <h4>Telephone:</h4>
          <p>
            403.220.8300
          </p>
          <h4>Email:</h4>
          <p>
           residence@ucalgary.ca
          </p>
          <h4>Location:</h4>
          <p>
            Campus Service Centre, International House, 169 University Gate NW
          </p>
          <h4>Website:</h4>
          <p>
            <a href="https://www.ucalgary.ca/ancillary/residence">https://www.ucalgary.ca/ancillary/residence</a>
          </p>
          <h4>Hours of operation: </h4>
          <p>
            Monday to Friday 8:00 a.m. to 8:00 p.m., Saturday 10:00 a.m. to 3:00 p.m., Sundays and Holidays 10:00 a.m. to 3:00 p.m.
          </p>
          <p>
            <font size = "1">
            <em>All Residence Services proceeds stay on campus; supporting student programming, academic, and research initiatives.</em>
            </font>
          </p>
        </div>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2506.6303236638937!2d-114.13685468255615!3d51.07837390000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x53717db7481cb3b1%3A0x36aff4a9e3c803fb!2sUniversity%20of%20Calgary!5e0!3m2!1sen!2sca!4v1670383818464!5m2!1sen!2sca" width=100% height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>UofC</span></strong>
      </div>
      <div class="credits">
        Designed by <a href="https://www.ucalgary.ca/">University Of Calgary</a>
      </div>
    </div>
  </footer>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla..js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos..js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min..js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min..js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min..js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min..js' %}"></script>
  <script src="{% static 'assets/vendor/typed.js/typed.min..js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/noframework.waypoints..js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate..js' %}"></script>

  <script src="{% static 'assets/js/main..js' %}"></script>

</body>

</html>