</style>
{% for message in messages%}
<h5>{{message}}</h5>
{% endfor %}

<form action = "maintenanceRequest" method = "POST">
    {% csrf_token %}
    <p>Username: </p>
    <input type = "text" name = "username"> 
    <p>Student: </p>
    <input type = "text" name = "student"> </br>
    <p>Room: </p>
    <input type = "text" name = "room"> </br>
    <p>Building: </p>
    <input type = "text" name = "building"> </br>
    <p>Details: </p>
    <input type = "text" name = "details"> </br>
    <input type = "submit" > 


    <p></p>
    <p>If you're not a member, Sign up Today</p>
    <li><a class="getstarted scrollto" href="index">Sign up</a></li>

</form>