
<style>
    h5{
        color: red;
    }
    button {
        font: bold 11px Arial;
        text-decoration: none;
        background-color: #EEEEEE;
        color: #333333;
        padding: 2px 6px 2px 6px;
        border-top: 1px solid #CCCCCC;
        border-right: 1px solid #333333;
        border-bottom: 1px solid #333333;
        border-left: 1px solid #CCCCCC;
    }
    
</style>
{% for message in messages%}
<h5>{{message}}</h5>
{% endfor %}
<h1>Student Username: {{a.username}}</h1><br>
<h1>Student First Name: {{a.first_name}} </h1><br>
<h1>Student Last Name: {{a.last_name}}</h1><br>
<h1>Student Year Of Study: {{b.year}}</h1><br>
<h1>Student Email: {{a.email}}</h1><br>
<h3>Payment Due: {{amountDue}} </h2><br>


<li><a class="button" href="maintenanceRequest">Maintenance Request</a></li>
<li><a class="button" href="index">Log out</a></li>